@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground); 
}

.content-container {

  font-family: Arial, Helvetica, sans-serif;
  background-image: url('http://evn.test.mqsolutions.vn/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 83.3vh;
  position: relative;
  /* Đảm bảo body là relative để ::before hoạt động */
}

.content-container::before {
  content: "";
  position: absolute; /* hoặc absolute nếu muốn chỉ phủ phần body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 85, 241, 0.815); /* xanh dương với opacity 80% */
  pointer-events: none; /* không ảnh hưởng đến thao tác chuột */
  z-index: 0; /* đảm bảo nằm dưới nội dung */
}

/* Đảm bảo nội dung nằm trên lớp phủ */
.content-container > * {
  position: relative;
  z-index: 1;
}
